{% extends 'dashboard.html' %}

{% block content %}
<div class="container" style="margin-top:50px;">
    <h1>{{ stockName }}&nbsp({{tickerName}})</h1>
    <h2 style="margin-top:20px;">Overview: </h2>
    <section>{{ overview }}</section>
    <strong style="margin-top:25px;">Founded: {{ founded }}</strong>

    <div class="row">
        <div class="col-md-12">
          <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts%}
    {% load staticfiles %}
    <script src="{% static 'js/charts.js' %}"></script>
    <script>
       var my_data = "{{ finalData }}" ;// gets set by jinja
       my_data = JSON.parse(my_data.replace(/&quot;/g,'"'));
       console.log(my_data);
       displayGraph(my_data);
    </script>

{% endblock %}
